<%= link_to 'Open a Club', new_club_path, class: 'btn btn-primary btn-lg float-right' %>

<% if user_signed_in? %>
  <div class="card-columns">
    <% @clubs.each do |club| %>
        <div class="card text-center club-cards" style="width: 18rem;">
          <div class="card-body">
            <h3 class="card-title"> <%= club.title %> </h3>
            <p class="card-text">  <%= club.description %>  </p>
            <% if current_user.is_member_of_club?(club) || current_user.is_admin_of_club?(club) %>
              <div class="mb-3 mt-3"> <%= link_to 'Open', club,  class: 'btn btn-light' %> </div>
            <% else %>
              <%= form_for [club, @new_user_joins_club] do |f| %>
                <%= f.submit "Join Club", class: 'btn btn-primary' %><br/>
              <% end %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
<% end %>
