<h1>Create a New Club</h1>

<%= form_for @club do |f| %>
  <div class="form-group">
    <%= f.label :title, 'Name of club' %>
    <%= f.text_field :title, class: 'form-control', placeholder: 'Title'%>
  </div>
  <div class="form-group">
    <%= f.label :description, 'Description' %>
    <%= f.text_area :description,class: 'form-control', placeholder: 'What is the club about..'%>
  </div>

  <%= f.submit "Create Club", class: 'float-right btn btn-light mt-1' %><br/>
<% end %>
