<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @club.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @club.description %>
</p>

<p>
  <strong>Book due date:</strong>
  <%= @club.book_due_date %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
