<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {class: 'form-signin'}) do |f| %>

  <%= devise_error_messages! %>

  <div class="text-center mb-4">
    <img class="mb-4" src="../../assets/book-clubs-logo.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>

  </div>

  <div class="form-label-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: 'form-control', autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form-label-group">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, class: 'form-control', autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form-label-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form-label-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
  </div>

  <div class="form-label-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'btn btn-lg btn-primary btn-block' %>
  </div>

  <p class="mt-3 mb-3 text-muted text-center"><%= render "devise/shared/links" %></p>

<% end %>
