<% if UserClub.where(user: current_user).any? %>
  <h2>Clubs that I am a member of: </h2>
  <div class="row">
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        <% club_title_class = "list-group-item list-group-item-action active" %>
        <% UserClub.where(user: current_user).find_each do |item| %>
            <%= link_to(item.club.title, "#list-"+item.club.id.to_s, class: club_title_class, id:"list-"+item.club.id.to_s+"-list", role:"tab",data: {
              toggle: "list"}) %>
            <% club_title_class = "list-group-item list-group-item-action" %>
        <% end %>
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">
        <h5>Description</h5>
        <% club_description_class = "tab-pane fade show active" %>
        <% UserClub.where(user: current_user).find_each do |item| %>
          <% club_description_id = "list-" %>
            <div class="<%= club_description_class %>" id="<%= club_description_id+item.club.id.to_s %>" role="tabpanel">
              <%= item.club.description %>
              <div class="mb-3 mt-3"> <%= link_to 'Go to Club!', item.club,  class: 'btn btn-primary' %> </div>
            </div>
            <% club_description_class = "tab-pane fade show" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
