<button type="button" class="btn btn-primary btn-lg float-right" data-toggle="modal" data-target="#newBookModal">
  Add a Book
</button>

<%= render 'new_book_modal', book: @book %>

<div class="row">
  <% @books.each do |book| %>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <%= image_tag book.picture_url, style:'height: 225px; width: 100%; display: block;'%>
        <div class="card-body">
          <h5 class="card-title"> <%= book.title %> </h5>
          <p>
            <strong>Author:</strong> <%= book.author %>
          </p>
          <p>
            <strong>Genre:</strong> <%= book.genre.name %>
          </p>
          <p>
            <strong>Length:</strong>  <%= book.pages %> pages
          </p>
          <p>
            <strong>Avg Rating:</strong> 5 stars
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <%= form_for [book,@user_book_list] do |f| %>
            <%= f.select(:status, [['Reading', '1'],['Wish List', '2'],['Done', '3']],
              {prompt: 'Add to List'}, {:class => 'form-control', :onchange => 'this.form.submit()' }) %>
            <% end %>
            <%= link_to "view", book_path(book), remote: true, class: 'show_book_modal_link btn btn-sm btn-outline-secondary'%>
            <div class="modal fade" id="showBookModal" tabindex="-1" role="dialog" aria-labelledby="showBookModalLabel" aria-hidden="true"></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
